html,
head,
body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  column-gap: 12px;
  border-bottom: 2px solid black;
}

.topbox {
  padding: 1em 0;
  border-bottom: 1px solid black;
}

.tagline {
  font-size: 2em;
  text-align: center;
}
