.site-links {
  display: flex;
  margin-left: auto;

  a,
  .link,
  .sep {
    color: black;
    padding: 0 4px;
    line-height: 90px;
  }

  a,
  .link {
    padding: 0 8px;

    &[aria-current] {
      color: skyblue;
    }

    &:hover {
      background: #eee;
    }
  }

  .link {
    cursor: pointer;
  }

  .has-submenu {
    position: relative;

    .submenu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 90px;
      left: -70px;
      width: 200px;
      background: white;
      box-shadow: black 0 0 10px 2px;
      line-height: 1em;
      text-align: center;

      a {
        padding: 10px;
        line-height: 1em;
      }
    }

    &:hover .submenu {
      display: flex;
    }
  }
}
