<nav class="social-links">
  {%- for link in socials -%}
    <a href="{{ link.url }}" target="_blank" {%- if link.class -%}class="{{ link.class }}"{%- endif -%}><img
      alt="{{ link.name }}"
      height="76"
      src="{{ link.icon | url }}"></a>
  {%- endfor -%}
</nav>

{% css %}
.social-links {
  height: 90px;
  display: flex;
  align-items: center;
  column-gap: 12px;

  a {
    display: inline-block;

    &.todo {
      cursor: not-allowed;
    }
  }
}
{% endcss %}

{% js %}
for (const elem of document.querySelectorAll('.social-links .todo')) {
  elem.addEventListener('click', (e) => {
    alert("yo J tell me what this URL is lol");
    e.preventDefault();
  })
}
{% endjs %}
