html, head, body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  column-gap: 12px;
  border-bottom: 2px solid black;
}

.site-links {
  margin-left: auto;
}
.site-links a {
  color: black;
}
.site-links a[aria-current] {
  color: skyblue;
}
.site-links a + a:before {
  content: " - ";
}

.social-links {
  height: 90px;
  display: flex;
  align-items: center;
  column-gap: 12px;
}
.social-links a {
  display: inline-block;
}