---
layout: layout.liquid
header: Contact / FAQ
meta:
  title: Contact | Sad Folks Interactive
---

<main>
  <h2>Got a question, comment, or concern for Sad Folks Interactive?</h2>
  <p>Please give a gander at the FAQ below, and if you're unable to find assistance, fill in the form to the right to contact our team. For minor questions and comments, you may also contact
    <a target="_blank" href="{{ socials[0].url }}">@SadInteractive</a>
    on Twitter or one of our other social media accounts at the top right of this page.</p>
  <h3>Chopter Copter</h3>
  <p>Please refer to
    <a href="/games/chopter-copter/">the game page</a>
    for any questions you might have about our latest game.</p>
  <h3>Technical Support</h3>
  <p>While we don't yet have a full knowledge base with solutions for problems encountered with our games, we will be keeping note of queries and issues and compiling them into one over time.</p>
  <h3>Video, Music, and Streaming</h3>
  <p>In time, we'll have more details about what is acceptable regarding this. For now, our policy is simply if you stream our games, use our music, or do a let's play or other monetized video using assets we've created, please give us full credit somewhere in the description of your content and provide a link to our site or product page for the game.</p>
  <h3>Fan Merchandise &amp; Fan Works</h3>
  <p>In time, we'll have a fully detailed FAQ section all its own about this. In general, we want fans of our work to be able to enjoy it how they see fit. We ask that if you do commissions, or sell limited hand-made fan merchandise, that you make apparent that your items are unofficial. We also request you do not sell them across large store fronts such as Redbubble, Displate, Amazon, etc., or create merchandise that reflects our titles in an inappropriate or offensive light. We reserve the right to ask you to take down any works at any time for any reason. Likewise, we reserve the right to update or modify this policy at any time.</p>
  <h3>Job Positions</h3>
  <p>We currently are not hiring, nor are we looking to hire at this time. We'll make an update if this changes at any point.</p>
</main>
