---
layout: layout.liquid
---

<div class="tagline">Sad Folks Interactive is a group of artists &amp; devs looking to move the world, together</div>

{% css %}
.tagline {
  padding: 1em 0;
  font-size: 2em;
  text-align: center;
  border-bottom: 1px solid black;
}
{% endcss %}
