---
layout: layout.liquid
meta:
  title: Join | Sad Folks Interactive
---

<h1 class="topBox tagline">Join the Sad Folks Interactive Mailing list</h1>
<main>
  <h2>Sign up now and hear all the latest from some Sad Folks!</h2>
  <ul>
    <li>Hear the first whispers and rumblings about new projects we're cooking up!</li>
    <li>Learn about special promotions, offers, and sales on our games!</li>
    <li>Unique smells (smells not included)!</li>
  </ul>

  <form
    aria-disabled="true"
    class="{% component 'SignupForm' %}"
    action="/api/signup"
    method="post">
    <label>
      <span>Email</span>
      <input
        disabled
        type="email"
        name="email"
        required>
    </label>
    <label>
      <span>Preferred name (optional)</span>
      <input disabled name="name">
    </label>
    <button disabled>Subscribe</button>
  </form>
</main>

{% css %}
  {% include 'join.scss' %}
{% endcss %}
