main {
  max-width: 800px;
  margin: 40px auto;
  border: 1px solid black;
  padding: 40px;
  padding-top: 0;

  h2 {
    text-align: center;
  }
}

form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  button {
    padding: 10px 0;
  }
}

label {
  padding: 5px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  span {
    font-size: 0.8em;
  }
}
